
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Master/Base.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                SignalR Form
            </h1>
        </div>
    </div>
    <div id="divConectar">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtNome">Email</label>
                    <input type="email" class="form-control" id="txtNome" placeholder="Email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" type="submit" onclick="connectChat()">Registrar</button>
            </div>
        </div>
    </div>
    
    <div id="divFrmMensagem">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <span id="lblTitulo"></span>
                </h2>
            </div>
        </div>
        <div class="row" id="divMessage">

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtDestino">Destino</label>
                    <input type="email" class="form-control" id="txtDestino" placeholder="Email de destino">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtMessagem">Mensagem</label>
                    <input type="email" class="form-control" id="txtMessagem" >
                    @*<div id="summernote"></div>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" type="submit" onclick="sendMessage()">Enviar</button>
            </div>
        </div>
    </div>
    <div class="row" id="divErro">
        <br clear="all" />
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert"><span id="spnErro"></span></div>
        </div>
    </div>

<script src="~/js/jquery.signalR-2.2.2.js"></script>
<script src="~/SignalR/Hubs"></script>

<script>

    $(function () {
        $('#divErro').hide();
        $('#divFrmMensagem').hide();
        //$('#summernote').summernote();
    });

    function sendMessage() {
        //$('#summernote').summernote('code')
        $.connection.mensagens.server.sendMessange($("#txtDestino").val(), $('#txtMessagem').val(), $("#txtNome").val());
    }

    function connectChat() {
        $.connection.mensagens.server.createConnection($("#txtNome").val());
        $('#divErro').hide();
    }

    $.connection.hub.start().done(function () {
        //$.connection.teste.server.createConnection('Teste');
    });

    $.connection.mensagens.client.ConnectionSucess = function (message) {
        $('#divErro').hide();
        $('#divConectar').hide();
        $('#divFrmMensagem').show();
        $("#lblTitulo").text(message);
    }

    $.connection.mensagens.client.MessageError = function (message) {
        $('#divErro').show();
        $("#spnErro").text(message);
    }

    $.connection.mensagens.client.MessageReciever = function (data) {
        $('<div class="col-md-12"><div class="alert alert-success" role="alert"><p><strong>Message recebida de ' + data.origem + '</strong></p><p>' + data.data + '</p><p>' + data.messagem + '</p></div></div>').appendTo($("#divMessage"));
    }

    $.connection.mensagens.client.MessageEco = function (data) {
        $('<div class="col-md-12"><div class="alert alert-info" role="alert"><p><strong>Message enviada para ' + data.destino + '</strong></p><p>' + data.data + '</p><p>' + data.messagem + '</p></div></div>').appendTo($("#divMessage"));
        $('#divErro').hide();
    }

</script>