
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Master/Base.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                SignalR Form
            </h1>
        </div>
    </div>
    <div id="divConectar">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtNome">Email</label>
                    <input type="email" class="form-control" id="txtNome" placeholder="Email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" type="submit" onclick="connectChat()">Registrar</button>
            </div>
        </div>
    </div>
    <div id="divMensagem">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtDestino">Destino</label>
                    <input type="email" class="form-control" id="txtDestino" placeholder="Email de destino">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtMessagem">Mensagem</label>
                    <text class="form-control" id="txtMessagem">
                    </text>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="divErro">
        <br clear="all" />
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert"><span id="spnErro"></span></div>
        </div>
    </div>

<script src="~/js/jquery.signalR-2.2.2.js"></script>
<script src="~/SignalR/Hubs"></script>

<script>

    $(function () {
        $('#divErro').hide();
    });

    function connectChat() {
        $.connection.mensagens.server.createConnection($("#txtNome").val());
        $('#divErro').hide();
    }

    $.connection.hub.start().done(function () {
        //$.connection.teste.server.createConnection('Teste');
    });

    $.connection.mensagens.client.MessageError = function (message) {
        $('#divErro').show();
        $("#spnErro").text(message);
    }

</script>